In [1]:
import os
os.getcwd()

''

In [ ]:
ProjectFilePath = ''
os.chdir(ProjectFilePath)
os.getcwd()

In [ ]:
import pandas as pd
import openpyxl 
import pyodbc

In [25]:
# Connection string for Windows Auth
conn_str = (
    "DRIVER={SQL Server};"
    "SERVER=;"
    "DATABASE=BenishWorkoutDB;"
    "Trusted_Connection=yes;"
)

# Test connection
try:
    conn = pyodbc.connect(conn_str)
    cursor = conn.cursor()
    print("✅ Connected to SQL Server!")
except Exception as e:
    print("❌ Connection failed:", e)

✅ Connected to SQL Server!

In [35]:
# Your file path and sheet
WorkoutFilePath = r"
sheet_name = "Raw"

# Load the Excel file
df = pd.read_excel(WorkoutFilePath, sheet_name=sheet_name, engine='openpyxl')

# Preview the first few rows
df.head()

,Date,MonthNM,WeekOfYearNBR,WeekdayNM,YearNBR,WeekdayFLG,WeekendFLG,DayDenominatorNBR,HistoricalFLG,BodyWeightNBR,...,Ex7Set5Reps,Exercise1Volume,Exercise2Volume,Exercise3Volume,Exercise4Volume,Exercise5Volume,Exercise6Volume,Exercise7Volume,TotalVolume,WorkoutIndividual
0,2020-01-01,Jan,1,Wed,2020,1,0,1,1,-,...,NaN,0,0.0,0.0,0,0,NaN,NaN,0,NaN
1,2020-01-02,Jan,1,Thu,2020,1,0,1,1,-,...,NaN,0,0.0,0.0,0,0,NaN,NaN,0,NaN
2,2020-01-03,Jan,1,Fri,2020,1,0,1,1,-,...,NaN,0,0.0,0.0,0,0,NaN,NaN,0,NaN
3,2020-01-04,Jan,1,Sat,2020,0,1,1,1,-,...,NaN,0,0.0,0.0,0,0,NaN,NaN,0,NaN
4,2020-01-05,Jan,2,Sun,2020,0,1,1,1,-,...,NaN,0,0.0,0.0,0,0,NaN,NaN,0,NaN

In [39]:
first_row = df.iloc[0]
for col in df.columns:
    print(f"{col}: {type(first_row[col])} - {first_row[col]}")

Date: <class 'pandas._libs.tslibs.timestamps.Timestamp'> - 2020-01-01 00:00:00
MonthNM: <class 'str'> - Jan
WeekOfYearNBR: <class 'numpy.int64'> - 1
WeekdayNM: <class 'str'> - Wed
YearNBR: <class 'numpy.int64'> - 2020
WeekdayFLG: <class 'numpy.int64'> - 1
WeekendFLG: <class 'numpy.int64'> - 0
DayDenominatorNBR: <class 'numpy.int64'> - 1
HistoricalFLG: <class 'numpy.int64'> - 1
BodyWeightNBR: <class 'str'> - -
LocationNM: <class 'float'> - nan
NotesDSC: <class 'float'> - nan
WorkoutFLG: <class 'numpy.int64'> - 0
WorkoutGrouperDSC: <class 'str'> - No Lift
WorkoutNM: <class 'float'> - nan
Exercise1: <class 'float'> - nan
Ex1Set1Weight: <class 'numpy.float64'> - nan
Ex1Set1Reps: <class 'numpy.float64'> - nan
Ex1Set2Weight: <class 'numpy.float64'> - nan
Ex1Set2Reps: <class 'numpy.float64'> - nan
Ex1Set3Weight: <class 'numpy.float64'> - nan
Ex1Set3Reps: <class 'numpy.float64'> - nan
Ex1Set4Weight: <class 'numpy.float64'> - nan
Ex1Set4Reps: <class 'numpy.float64'> - nan
Ex1Set5Weight: <class 'numpy.float64'> - nan
Ex1Set5Reps: <class 'numpy.float64'> - nan
Ex1Set6Weight: <class 'numpy.float64'> - nan
Ex1Set6Reps: <class 'numpy.float64'> - nan
Exercise2: <class 'float'> - nan
Ex2Set1Weight: <class 'numpy.float64'> - nan
Ex2Set1Reps: <class 'numpy.float64'> - nan
Ex2Set2Weight: <class 'numpy.float64'> - nan
Ex2Set2Reps: <class 'numpy.float64'> - nan
Ex2Set3Weight: <class 'numpy.float64'> - nan
Ex2Set3Reps: <class 'numpy.float64'> - nan
Ex2Set4Weight: <class 'numpy.float64'> - nan
Ex2Set4Reps: <class 'numpy.float64'> - nan
Ex2Set5Weight: <class 'numpy.float64'> - nan
Ex2Set5Reps: <class 'numpy.float64'> - nan
Exercise3: <class 'float'> - nan
Ex3Set1Weight: <class 'numpy.float64'> - nan
Ex3Set1Reps: <class 'numpy.float64'> - nan
Ex3Set2Weight: <class 'numpy.float64'> - nan
Ex3Set2Reps: <class 'numpy.float64'> - nan
Ex3Set3Weight: <class 'numpy.float64'> - nan
Ex3Set3Reps: <class 'numpy.float64'> - nan
Ex3Set4Weight: <class 'numpy.float64'> - nan
Ex3Set4Reps: <class 'numpy.float64'> - nan
Ex3Set5Weight: <class 'numpy.float64'> - nan
Ex3Set5Reps: <class 'numpy.float64'> - nan
Exercise4: <class 'float'> - nan
Ex4Set1Weight: <class 'numpy.float64'> - nan
Ex4Set1Reps: <class 'numpy.float64'> - nan
Ex4Set2Weight: <class 'numpy.float64'> - nan
Ex4Set2Reps: <class 'numpy.float64'> - nan
Ex4Set3Weight: <class 'numpy.float64'> - nan
Ex4Set3Reps: <class 'numpy.float64'> - nan
Ex4Set4Weight: <class 'numpy.float64'> - nan
Ex4Set4Reps: <class 'numpy.float64'> - nan
Ex4Set5Weight: <class 'numpy.float64'> - nan
Ex4Set5Reps: <class 'numpy.float64'> - nan
Exercise5: <class 'float'> - nan
Ex5Set1Weight: <class 'numpy.float64'> - nan
Ex5Set1Reps: <class 'numpy.float64'> - nan
Ex5Set2Weight: <class 'numpy.float64'> - nan
Ex5Set2Reps: <class 'numpy.float64'> - nan
Ex5Set3Weight: <class 'numpy.float64'> - nan
Ex5Set3Reps: <class 'numpy.float64'> - nan
Ex5Set4Weight: <class 'numpy.float64'> - nan
Ex5Set4Reps: <class 'numpy.float64'> - nan
Ex5Set5Weight: <class 'numpy.float64'> - nan
Ex5Set5Reps: <class 'numpy.float64'> - nan
Exercise6: <class 'float'> - nan
Ex6Set1Weight: <class 'numpy.float64'> - nan
Ex6Set1Reps: <class 'numpy.float64'> - nan
Ex6Set2Weight: <class 'numpy.float64'> - nan
Ex6Set2Reps: <class 'numpy.float64'> - nan
Ex6Set3Weight: <class 'numpy.float64'> - nan
Ex6Set3Reps: <class 'numpy.float64'> - nan
Ex6Set4Weight: <class 'numpy.float64'> - nan
Ex6Set4Reps: <class 'numpy.float64'> - nan
Ex6Set5Weight: <class 'numpy.float64'> - nan
Ex6Set5Reps: <class 'numpy.float64'> - nan
Exercise7: <class 'float'> - nan
Ex7Set1Weight: <class 'numpy.float64'> - nan
Ex7Set1Reps: <class 'numpy.float64'> - nan
Ex7Set2Weight: <class 'numpy.float64'> - nan
Ex7Set2Reps: <class 'numpy.float64'> - nan
Ex7Set3Weight: <class 'numpy.float64'> - nan
Ex7Set3Reps: <class 'numpy.float64'> - nan
Ex7Set4Weight: <class 'numpy.float64'> - nan
Ex7Set4Reps: <class 'numpy.float64'> - nan
Ex7Set5Weight: <class 'numpy.float64'> - nan
Ex7Set5Reps: <class 'numpy.float64'> - nan
Exercise1Volume: <class 'numpy.int64'> - 0
Exercise2Volume: <class 'numpy.float64'> - 0.0
Exercise3Volume: <class 'numpy.float64'> - 0.0
Exercise4Volume: <class 'numpy.int64'> - 0
Exercise5Volume: <class 'numpy.int64'> - 0
Exercise6Volume: <class 'numpy.float64'> - nan
Exercise7Volume: <class 'numpy.float64'> - nan
TotalVolume: <class 'numpy.int64'> - 0
WorkoutIndividual: <class 'float'> - nan

In [71]:
df_workouts = df[df['WorkoutFLG'] == 1].copy()

pd.set_option('display.max_columns', None)  
pd.set_option('display.max_colwidth', 10000)
df_workouts.describe()

,Date,WeekOfYearNBR,YearNBR,WeekdayFLG,WeekendFLG,DayDenominatorNBR,HistoricalFLG,WorkoutFLG,Ex1Set1Weight,Ex1Set1Reps,Ex1Set2Weight,Ex1Set2Reps,Ex1Set3Weight,Ex1Set3Reps,Ex1Set4Weight,Ex1Set4Reps,Ex1Set5Weight,Ex1Set5Reps,Ex1Set6Weight,Ex1Set6Reps,Ex2Set1Weight,Ex2Set1Reps,Ex2Set2Weight,Ex2Set2Reps,Ex2Set3Weight,Ex2Set3Reps,Ex2Set4Weight,Ex2Set4Reps,Ex2Set5Weight,Ex2Set5Reps,Ex3Set1Weight,Ex3Set1Reps,Ex3Set2Weight,Ex3Set2Reps,Ex3Set3Weight,Ex3Set3Reps,Ex3Set4Weight,Ex3Set4Reps,Ex3Set5Weight,Ex3Set5Reps,Ex4Set1Weight,Ex4Set1Reps,Ex4Set2Weight,Ex4Set2Reps,Ex4Set3Weight,Ex4Set3Reps,Ex4Set4Weight,Ex4Set4Reps,Ex4Set5Weight,Ex4Set5Reps,Ex5Set1Weight,Ex5Set1Reps,Ex5Set2Weight,Ex5Set2Reps,Ex5Set3Weight,Ex5Set3Reps,Ex5Set4Weight,Ex5Set4Reps,Ex5Set5Weight,Ex5Set5Reps,Ex6Set1Weight,Ex6Set1Reps,Ex6Set2Weight,Ex6Set2Reps,Ex6Set3Weight,Ex6Set3Reps,Ex6Set4Weight,Ex6Set4Reps,Ex6Set5Weight,Ex6Set5Reps,Ex7Set1Weight,Ex7Set1Reps,Ex7Set2Weight,Ex7Set2Reps,Ex7Set3Weight,Ex7Set3Reps,Ex7Set4Weight,Ex7Set4Reps,Ex7Set5Weight,Ex7Set5Reps,Exercise1Volume,Exercise2Volume,Exercise3Volume,Exercise4Volume,Exercise5Volume,Exercise6Volume,Exercise7Volume,TotalVolume
count,563,563.000000,563.000000,563.00000,563.00000,563.0,563.0,563.0,560.000000,560.000000,563.000000,563.000000,562.000000,562.000000,517.000000,511.000000,81.000000,80.000000,16.00000,16.000000,547.000000,546.000000,547.000000,547.000000,516.000000,516.000000,121.000000,120.0000,4.000000,4.000000,547.000000,547.000000,545.000000,545.000000,514.000000,514.000000,9.000000,9.000000,1.0,1.0,533.000000,533.000000,531.000000,531.000000,498.000000,496.000000,7.000000,7.000000,0.0,0.0,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,28.000000,28.0,0.0,0.0,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,0.0,0.0,0.0,0.0,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000,0.0,0.0,0.0,0.0,563.000000,563.000000,563.000000,563.000000,563.000000,111.000000,111.000000,563.000000
mean,2023-06-17 11:51:02.877442304,24.980462,2022.998224,0.68206,0.31794,1.0,1.0,1.0,174.528571,6.525000,175.994671,8.184725,176.183274,7.905694,179.019342,5.739726,390.790123,3.850000,238.25000,1.437500,124.872943,8.115385,125.620658,8.248629,129.105620,11.046512,42.000000,6.0000,70.500000,4.250000,89.854662,8.510055,90.182569,8.521101,89.648833,8.414397,101.888889,4.555556,152.0,8.0,77.123827,8.956848,77.679849,8.947269,80.069277,8.784274,115.714286,3.000000,NaN,NaN,113.333333,6.468750,113.697917,6.447917,113.802083,6.406250,192.142857,5.0,NaN,NaN,52.727273,5.696970,53.181818,6.878788,53.181818,5.454545,NaN,NaN,NaN,NaN,17.777778,7.222222,17.962963,7.185185,18.333333,7.185185,NaN,NaN,NaN,NaN,4121.573712,3170.633215,2002.588810,1598.250444,337.877442,263.828829,84.864865,11230.923623
min,2020-03-24 00:00:00,1.000000,2020.000000,0.00000,0.00000,1.0,1.0,1.0,20.000000,1.000000,14.000000,1.000000,4.000000,1.000000,4.000000,0.000000,45.000000,0.000000,145.00000,1.000000,7.500000,3.000000,0.000000,3.000000,0.000000,3.000000,5.000000,3.0000,40.000000,1.000000,0.000000,5.000000,0.000000,5.000000,0.000000,3.000000,45.000000,2.000000,152.0,8.0,0.000000,4.000000,0.000000,4.000000,0.000000,4.000000,35.000000,1.000000,NaN,NaN,15.000000,5.000000,15.000000,5.000000,15.000000,5.000000,125.000000,5.0,NaN,NaN,20.000000,2.000000,20.000000,3.000000,20.000000,3.000000,NaN,NaN,NaN,NaN,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,NaN,NaN,NaN,NaN,600.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1320.000000
25%,2022-04-12 12:00:00,12.500000,2022.000000,0.00000,0.00000,1.0,1.0,1.0,135.000000,4.000000,135.000000,4.500000,135.000000,4.000000,140.000000,4.000000,152.000000,2.000000,145.00000,1.000000,35.000000,5.000000,35.000000,5.000000,40.000000,5.000000,35.000000,5.0000,43.750000,1.750000,45.000000,5.000000,45.000000,5.000000,45.000000,5.000000,60.000000,4.000000,152.0,8.0,35.000000,5.000000,35.000000,5.000000,35.000000,5.000000,45.000000,1.500000,NaN,NaN,30.000000,5.000000,33.750000,5.000000,33.750000,5.000000,185.000000,5.0,NaN,NaN,40.000000,5.000000,40.000000,5.000000,40.000000,5.000000,NaN,NaN,NaN,NaN,12.500000,5.000000,12.500000,5.000000,15.000000,5.000000,NaN,NaN,NaN,NaN,2850.000000,687.500000,1200.000000,600.000000,0.000000,0.000000,0.000000,7147.500000
50%,2023-08-06 00:00:00,22.000000,2023.000000,1.00000,0.00000,1.0,1.0,1.0,165.000000,5.000000,165.000000,5.000000,165.000000,5.000000,165.000000,5.000000,215.000000,3.000000,205.00000,1.000000,45.000000,10.000000,45.000000,10.000000,47.500000,10.000000,45.000000,5.0000,45.000000,4.000000,90.000000,10.000000,80.000000,10.000000,80.000000,10.000000,110.000000,5.000000,152.0,8.0,55.000000,10.000000,55.000000,10.000000,55.000000,10.000000,130.000000,2.000000,NaN,NaN,125.000000,5.000000,125.000000,5.000000,125.000000,5.000000,195.000000,5.0,NaN,NaN,40.000000,5.000000,40.000000,5.000000,40.000000,5.000000,NaN,NaN,NaN,NaN,20.000000,5.000000,20.000000,5.000000,20.000000,5.000000,NaN,NaN,NaN,NaN,3850.000000,1200.000000,2025.000000,1425.000000,0.000000,0.000000,0.000000,10700.000000
75%,2024-11-08 00:00:00,38.500000,2024.000000,1.00000,1.00000,1.0,1.0,1.0,225.000000,10.000000,235.000000,10.000000,235.000000,10.000000,235.000000,8.000000,275.000000,6.000000,345.00000,2.000000,275.000000,10.000000,275.000000,10.000000,275.000000,10.000000,45.000000,6.0000,71.750000,6.500000,130.000000,10.000000,130.000000,10.000000,130.000000,10.000000,115.000000,5.000000,152.0,8.0,95.000000,10.000000,95.000000,10.000000,95.000000,10.000000,177.500000,5.000000,NaN,NaN,185.000000,10.000000,185.000000,9.250000,185.000000,8.500000,205.000000,5.0,NaN,NaN,65.000000,6.000000,65.000000,6.000000,65.000000,5.000000,NaN,NaN,NaN,NaN,25.000000,10.000000,25.000000,10.000000,25.000000,10.000000,NaN,NaN,NaN,NaN,4930.000000,5350.000000,2775.000000,2250.000000,0.000000,562.500000,0.000000,14910.000000
max,2025-06-18 00:00:00,53.000000,2025.000000,1.00000,1.00000,1.0,1.0,1.0,365.000000,10.000000,365.000000,165.000000,365.000000,165.000000,385.000000,19.000000,14512.000000,8.000000,425.00000,2.000000,315.000000,10.000000,315.000000,90.000000,315.000000,510.000000,205.000000,10.0000,152.000000,8.000000,275.000000,21.000000,512.000000,21.000000,275.000000,21.000000,205.000000,8.000000,152.0,8.0,275.000000,21.000000,275.000000,21.000000,275.000000,22.000000,200.000000,5.000000,NaN,NaN,205.000000,10.000000,205.000000,10.000000,205.000000,10.000000,205.000000,5.0,NaN,NaN,95.000000,10.000000,105.000000,50.000000,105.000000,10.000000,NaN,NaN,NaN,NaN,25.000000,10.000000,25.000000,10.000000,25.000000,10.000000,NaN,NaN,NaN,NaN,28710.000000,19980.000000,8960.000000,5400.000000,4100.000000,3000.000000,450.000000,35995.000000
std,NaN,14.966795,1.500295,0.46609,0.46609,0.0,0.0,0.0,77.634776,2.738988,78.641660,16.517045,80.928107,16.564356,81.917734,2.835484,1590.303774,2.158879,102.97087,0.512348,114.189531,2.381015,114.375090,4.236201,114.529659,38.438423,23.190336,2.0498,54.384434,3.304038,52.692264,2.408279,56.100907,2.402514,53.491220,2.457726,53.381749,1.810463,NaN,NaN,63.368697,3.798498,63.544912,3.771423,64.014277,3.748648,73.791857,1.914854,NaN,NaN,75.754683,2.209802,75.551463,2.190265,75.560170,2.169541,15.361603,0.0,NaN,NaN,26.312156,1.722731,26.833345,7.928420,26.833345,1.678744,NaN,NaN,NaN,NaN,6.405126,2.531848,6.542650,2.496721,6.201737,2.496721,NaN,NaN,NaN,NaN,2978.020727,3456.107663,1217.764123,1132.461026,914.697156,489.262876,154.131673,5169.795312

In [65]:
df_workouts.isna().sum()

Date                   0
MonthNM                0
WeekOfYearNBR          0
WeekdayNM              0
YearNBR                0
                    ...
Exercise5Volume        0
Exercise6Volume      452
Exercise7Volume      452
TotalVolume            0
WorkoutIndividual      0
Length: 103, dtype: int64

In [67]:
df_workouts.duplicated().sum()

0

In [47]:
for index, row in df_workouts.iterrows():
    try:
        # === Construct pseudo-key ===
        workout_date = pd.to_datetime(row['Date']).strftime('%Y-%m-%d')
        location = str(row['LocationNM']).strip().replace(" ", "_")
        workout_flg = str(row['WorkoutFLG']).strip()
        individual = str(row.get('WorkoutIndividual', 'Unknown')).strip().replace(" ", "_")
        workout_nm = str(row['WorkoutNM']).strip().replace(" ", "_")

        workout_key = f"{workout_date}_{location}_{workout_flg}_{individual}_{workout_nm}"

        # === Check for existing workout ===
        cursor.execute("SELECT WorkoutID FROM Workouts WHERE WorkoutKey = ?", (workout_key,))
        existing = cursor.fetchone()
        if existing:
            print(f"⏩ Skipping existing workout: {workout_key}")
            continue

        # === Insert new workout ===
        cursor.execute("""
            INSERT INTO Workouts (
                WorkoutDate, MonthNM, WeekOfYearNBR, WeekdayNM, YearNBR,
                WeekdayFLG, WeekendFLG, DayDenominatorNBR, HistoricalFLG,
                BodyWeightNBR, LocationNM, NotesDSC, WorkoutFLG,
                WorkoutGrouperDSC, WorkoutNM, TotalVolume, WorkoutIndividual, WorkoutKey
            )
            VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
        """, (
            workout_date,
            row['MonthNM'], row['WeekOfYearNBR'], row['WeekdayNM'], row['YearNBR'],
            row['WeekdayFLG'], row['WeekendFLG'], row['DayDenominatorNBR'], row['HistoricalFLG'],
            row['BodyWeightNBR'], row['LocationNM'], row['NotesDSC'], workout_flg,
            row['WorkoutGrouperDSC'], row['WorkoutNM'], row['TotalVolume'], individual, workout_key
        ))

        # === Retrieve new WorkoutID ===
        cursor.execute("SELECT SCOPE_IDENTITY()")
        workout_id = cursor.fetchone()[0]

        print(f"✅ Inserted workout {workout_id} ({workout_key})")

    except Exception as e:
        print(f"❌ Error on row {index}: {e}")
        continue

conn.commit()

❌ Error on row 83: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 15 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 95: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 15 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 104: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 15 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 114: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 14 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 120: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 15 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 131: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 14 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 141: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 15 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 161: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 14 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 164: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 15 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 173: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 14 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 181: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 15 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 191: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 15 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 203: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 15 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 205: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 14 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 209: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 15 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 212: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 14 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 305: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 15 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 310: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 14 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 313: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 15 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 318: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 14 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 321: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 15 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 326: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 14 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 329: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 15 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 334: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 14 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 337: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 15 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 340: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 14 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 346: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 15 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 353: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 14 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 357: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 15 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 361: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 14 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 369: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 15 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 372: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 14 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 376: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 15 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 379: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 14 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 389: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 15 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 393: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 14 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 397: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 15 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 399: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 14 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 411: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 15 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 414: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 14 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 419: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 15 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 423: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 14 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 426: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 15 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 430: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 14 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 439: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 15 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 444: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 14 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')
❌ Error on row 447: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 15 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')